body {
	margin: 0;
	padding: 0;
	font-family: 'Cormorant Infant', serif;
	font-style: normal;
	font-size: 16px;
}

header, section, footer, aside, nav, main, article, figure {
    display: block; 
}

a:hover {
	text-decoration: none;
	color: #000000;
}

.nav>li {
	padding: 0 12px;
}

.nav>li>a {
	padding-left: 0;
	padding-right: 0;
}

.navbar-default {
	margin-bottom: 0px;
	min-height: 1px;
	background-color: rgba(255, 255, 255, 1);
	border-color: transparent;
	border-width: 0;
	box-shadow: 0 -1px 16px #cccccc;
	transition: background-color 0.7s ease-out;
}

.navbar.shrink {
	background-color: #ffffff;
}

/*.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover {
	color: #C4893D;
	background-color: transparent;
	font-style: italic;
}*/


.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover {
    background-color: transparent;
	/*font-style: italic;*/
	color: #333333;
}


.navbar-default .navbar-nav>li>a {
	border-bottom: 2px solid transparent;
    color: #333333;
    transition: border 0.7s;
}

/*jumping menu fix*/
.navbar-nav>li:last-child {
	margin: 0 auto;
	width: 147px;
}/*end of the fix*/

.navbar-default .navbar-nav>li>a:hover {
    color: #000000;
}

.navbar-default .navbar-brand{
	font-size: 20px;
}

.navbar-default .navbar-brand,
.page_footer .brand-name {
	font-family: 'Poiret One', cursive;
	font-weight: 600;
	text-transform: uppercase;
}

.navbar-default .navbar-toggle {
	border-color: transparent;	
}

.navbar-brand,
.navbar-toggle,
.navbar-nav,
.navbar-nav>li {
	text-align: center;
	float: none;
}

.navbar-header {
	min-height: 40px;
	float: none;
	text-align: left;
	transition: min-height 0.5s ease-out;
}

.navbar-nav {
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 5px;
}

.navbar-toggle {
	margin: 0;
	position: absolute;
	top: 12px;
	right: 15px;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle[aria-expanded="true"] .icon-bar {
	transition: margin-top 0.5s, transform 0.5s 0.5s;
}

.navbar-default .navbar-toggle[aria-expanded="true"] .icon-bar:nth-of-type(3) {
	background-color: transparent;
}

.navbar-default .navbar-toggle[aria-expanded="true"] .icon-bar:nth-of-type(2) {
	margin-top: 6px;
	transform: rotate(45deg);
}

.navbar-default .navbar-toggle[aria-expanded="true"] .icon-bar:nth-of-type(4) {
	margin-top: -8px;
	transform: rotate(-45deg);
}

.navbar-default .navbar-collapse, 
.navbar-default .navbar-form {
    border-color: #cccccc;
}

/*HOME PAGE CAROUSEL*/

.img-responsive {
	min-width: 100%;
}

.carousel-inner {
	max-height: 100vh;	
}

.item {
	height: inherit;
	overflow: hidden;
}

.carousel-indicators li {
	opacity: 0;
}

/*HOME PAGE ACCENT MENU*/

.accent-menu {
	text-align: center;
	padding-bottom: 60px;
}

.accent-menu-item {
	display: inline-block;
	margin: 60px 20px 0 20px;
	min-width: 250px;
	width: 20%;
	color: #989898;
	vertical-align: top;
}

.accent-menu-item[class*="icon-"]:before {
	font-size: 50px;
	color: #989898;
}

/*HOME PAGE PORTFOLIO SECTION*/
.portfolio {
	padding-top:60px; 
	padding-bottom: 80px;
}

.portfolio__h2 {
	font-size: 135%;
	font-weight: 400;
	text-align: center;
}

.portfolio__h2:after {
	background-color: #777777;
}

.h_divider {	
	position: relative;
	margin-bottom: 30px;
	padding-top: 20px;
	padding-bottom: 30px;
}

.h_divider:after {
	content: '';
	position: absolute;
	margin-left: -25px;
	width: 50px;
	height: 1px;
	bottom: 0;
	left: 50%;
}

.portfolio__block {
	padding: 15px;
}

.portfolio__img {
	display: block;
	width: 100%;
	height: auto;
}

.portfolio__description {
	position: absolute;
	top: 40%;
	left: 0;
	width: 100%;
	text-align: center;
}

.button {
	display: inline-block;
	padding: 20px 40px;
	color: #ffffff;
	letter-spacing: 1px;
	font-style: italic;
	border: 1px solid #ffffff;
	transition-duration: 0.3s;
}

.portfolio__button {
	font-size: 150%;
	font-weight: bold;
	text-shadow: 1px 1px 5px #777777;
}

.button:hover {
	background-color: rgba(255, 255, 255, 0.3);
	color: #ffffff;
	text-decoration: none; 

}

.portfolio__block:hover .button {
	border: 1px solid #ffffff;
}

/*HOME PAGE ABOUT SECTION*/

.about.dark .about__text {
	color: #ffffff;
	height: inherit;
	font-size: inherit;
}

/*.about.light .about__text {
	color: #333333;
	height: inherit;
	font-size: inherit;
}*/

.about__h2 {
	font-size: 140%;
}

.about__h2:after {
	background-color: #777777;
}

.about.dark .about__h2:after {
	background-color: #ffffff;
}

.about__p {
	font-style: italic;
}

.about.dark .row {
	background-color: #252928;
}

/*.about.light .row {
	padding-top: 80px;
	background-color: #ffffff;
}*/

.about__photo {
	padding: 0;
	min-height: 400px;
	background-image: url(../img/photographer.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	opacity: 0.3;
}

/*.about.light .about__photo {
	box-shadow: 75px 75px 110px #ffffff inset, 
				-75px -75px 110px #ffffff inset;
}*/

.about__image {
	position: relative;
	min-height: 100%;
}

.about.dark .about__photo:after {
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	width: 50%;
	height: 100%;
	background: linear-gradient(to left, rgba(37, 41, 40, 1), rgba(37, 41, 40, 0));
}

/*.about.light .about__photo:after {
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	width: 50%;
	height: 100%;
	background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}*/

.about__text {
	text-align: center;
}

.about__button {
	margin-top: 20px;
	margin-bottom: 40px;
	border: 1px solid #ffffff;
	font-style: normal;
}

/*.about.light .about__button {
	border: 1px solid #777777;
	color: #333333;
	text-shadow: none;
}

.about.light .about__button:hover {
	background-color: rgba(0, 0, 0, 0.1);
}*/

/*PORTFOLIO PAGE*/

.portfolio_page {
	margin-top: 100px;
}

input[name="portfolio_tab"] {
	display: none;
}

.tab_controls {
	text-align: center;
}

.tab_controls label {
	padding: 10px 15px;
	font-weight: 400;
	font-style: italic;
	transition-duration: 0.5s;
	cursor: pointer;
}

.tab_controls label:hover,
#tab-1:checked ~ .tab_controls label:nth-of-type(1), 
#tab-2:checked ~ .tab_controls label:nth-of-type(2), 
#tab-3:checked ~ .tab_controls label:nth-of-type(3), 
#tab-4:checked ~ .tab_controls label:nth-of-type(4), 
#tab-5:checked ~ .tab_controls label:nth-of-type(5) {
	color: #a0814d;
}

#tab-1:checked ~ .gallery_wrapper .photoshoot.tab1 {
	display: block;
}
#tab-2:checked ~ .gallery_wrapper .photoshoot.tab2 {
	display: block;
}
#tab-3:checked ~ .gallery_wrapper .photoshoot.tab3 {
	display: block;
}
#tab-4:checked ~ .gallery_wrapper .photoshoot.tab4 {
	display: block;
}
#tab-5:checked ~ .gallery_wrapper .photoshoot.tab5 {
	display: block;
}

.gallery_wrapper .photoshoot {
	display: none;
	margin: 15px 0;
}

.photoshoot_text .hover_link {
	display: none;
}

.gallery_wrapper .photoshoot:hover>img {
	opacity: 0.2;
}

.gallery_wrapper .photoshoot:hover .photoshoot_text {
	color: #333333;
}

.gallery_wrapper .photoshoot:hover .hover_link {
	display: block;
	margin-top: -10px; 
	font-size: 80%;
	color: #a0814d;
}

.photoshoot:hover .hover_link:hover {
	color: #333333;
}

.photoshoot_text {
	position: absolute;
	top: 45%;
	width: calc(100% - 30px);
	color: #ffffff;
	font-size: 130%;
	font-style: italic;
	text-align: center;
}

.photoshoot_text b {
	font-weight: 400;
}


/*PAGE FOOTER*/

.page_footer {
	background-color: #ffffff;
	font-size: 18px;
	font-weight: 400;
	text-align: center;
}

.navbar .navbar-brand,
.page_footer .brand-name{	
	line-height: 60px;
}

.social_nav {
	list-style-type: none;
	-webkit-padding-start: 0px;
	-moz-padding-start: 0px;
}

.page_footer .social_nav {
	margin-top: 0;
	margin-bottom: 0;
}

.social_nav li{
	display: inline-block;
	margin:10px 5px;
	font-family: 'FontAwesome';
	color: #cccccc;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
}

.page_footer .social_nav li{
	margin: 15px;
}

.page_footer a:link,
.page_footer a:visited {
	color: #777777;
	text-decoration: none;
}

.social_nav a:link,
.social_nav a:visited {
	color: #989898;	
	line-height: 20px;
	text-decoration: none;
	transition: color 0.7s;
}

.social_nav a:hover,
.page_footer a:hover {
	color: #333333;
}

/*BACK TO TOP BUTTON*/

a.back-to-top {
	display: none;
	width: 50px;
	height: 50px;
	font-size: 45px;
	line-height: 40px;
	text-align: center;
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 15px;
	color: #989898;
	background: #ffffff;
	box-shadow: 0px 5px 10px -6px #777777;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	transition: color 0.8s;

}

a.back-to-top:hover {
	color: #777777;	
	box-shadow: 0px 5px 12px -5px #777777;
}

@media (min-width: 361px) {
	.navbar-header {
		text-align: center;
	}
}

@media (min-width: 408px) {
	a.back-to-top {
		bottom: 50px;
	}

}

@media (min-width: 768px) {
	.navbar {
		background-color: rgba(255, 255, 255, 0.8);
	}
	.navbar-nav {
	    padding-bottom: 0px;
	}
	.navbar-nav>li {
		display: inline-block;
	}
	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.navbar-header {
		font-size: 30px;
	}
	.navbar-default .navbar-brand {
		line-height: 30px;
	}
	.navbar-default .navbar-nav>.active>a {
		border-bottom-color: #777777;
	}
	.navbar-default .navbar-nav>li>a:hover {
		border-bottom-color: #777777;
	}
	.shrink .navbar-header {
		min-height: 0px;
		height: 0px;
	}
	.shrink .navbar-brand {
		display: none;
	}
	.shrink .social_nav {
		display: none;
	}
	.shrink .navbar-nav li:last-child {
		width: auto;
	}
	.carousel-indicators li {
	opacity: 0.7;
	}
	.about__button {
	border-color: #ffffff;
	}
}

@media (min-width: 992px) {	
	.navbar-nav .social_nav {
		text-align: left;
	}
	.page_footer .social_nav {
		text-align: right;
	}
	.about__text {
		text-align: left;
		max-width: 600px;
	}
	.about__h2:after {
		left: 0;
		margin-left: 0;
	}
	.page_footer .brand-name{	
		text-align: left;
	}
}

@media (min-width: 1025px) {
	.portfolio .button {
	border-color: transparent;
	}
}
